@import 'variables';
// Base Styles & Utilities
// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Clear Default Styles
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  display: block;
}

// Buttons
.btn {
  margin: 0 auto;
  display: block;
  border: 2px solid $dark-color;
  background-color: $med-color;
  border-radius: 5px;
  padding: 1rem 1.25rem;
  cursor: pointer;
  opacity: 1;
  font-size: 1rem;
  font-weight: 700;
  transition: box-shadow 100ms ease-in-out;

  &:hover {
    // background-color: $dark-color;
    // color: $med-color;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
  }
}

.stroke-transparent {
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: transparent;
}
