@import 'variables';
// Base Styles & Utilities
// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Clear Default Styles
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  display: block;
}

// Buttons
.btn {
  margin: 0 auto;
  display: block;
  border: 1px solid $dark-color;
  border-radius: 5px;
  padding: 1rem 1.25rem;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.65;
  }
}
