@import 'variables';
// Base Styles & Utilities
// General Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  cursor: pointer;
}

// Clear Default Styles
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  display: block;
}

// Buttons
.btn {
  display: block;
  border: 1px solid $dark-color;
  border-radius: 5px;
  padding: 1rem 1.25rem;
  cursor: pointer;
}
