@import 'variables';
// Media Queries
// Larger than Tablets
@media only screen and (min-width: 1035px) {
  html,
  body {
    font-size: 1.15rem;
  }

  .page-wrapper {
    // padding: 1.5rem;
  }

  .page-grid {
    min-height: 70vh;
    max-width: $max-width;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 3rem;
    margin: auto;
  }

  .profile-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-name {
      font-size: 2.2rem;
    }
  }

  .profile-pic {
    max-width: 215px;
  }

  .profile-right {
    padding: 2rem 1.5rem;

    .profile-heading {
      font-size: 2rem;
    }
  }

  .btn {
    align-self: end;
  }

  .email-modal {
    .close-modal {
      font-size: 2rem;
    }
  }
}
