@media (min-width: 500px ){
  .page-container {
    .main-content {
      display: flex;
      max-height: 70vh;
      border: 1px solid black;
      border-radius: 3px;
      background-color: #fff;
      
      .profile-content-box {
        border: none;

        .profile-img {
          min-width: 100px;
        }
      }
    }
  }
}
