.container {
  max-width: 85vw;
  margin: auto;
  padding: 0 1rem;
  // border: 1px solid red;
}

// Padding
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 2rem 0;
}
// Margin
.my-1 {
  padding: 1rem 0;
}
.my-2 {
  padding: 2rem 0;
}
.my-3 {
  padding: 2rem 0;
}
